<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Veracage</vendor>
  <vendor_url>https://example.invalid/veracage</vendor_url>

  <action id="org.veracage.helper">
    <description>Mount a VeraCrypt vault into a private namespace</description>
    <message>Authentication is required to open a Veracage vault</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_self_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/pq/Claude/veracage/helpers/veracage-helper</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="org.veracage.cleanup">
    <description>Close a Veracage dm-crypt device and remove its lock file</description>
    <message>Cleaning up a Veracage session</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/home/pq/Claude/veracage/helpers/veracage-cleanup</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
